/* Global variables */
:root {
  --white: #fff;
  --black: #000;
  --cta-color: #2fa38d;
  --text-color: #0a3025;
  --gd-green: #0ca941;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: var(--text-color);
}

section {
  padding: 5vw 0;
}

.btn {
  height: 40px;
  width: 160px;
  background-color: var(--cta-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 30%);
}

.btn-arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 3em;
  margin-bottom: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.panel-content:nth-child(3) .panel-copy .btn-arrow {
  margin-left: 0.5em;
}

.site-content {
  padding: 0 10vw;
}

.caption figcaption {
  position: absolute;
  width: 50%;
  text-align: center;
}

/* Desktop */
@media (min-width: 1000px) {
  .site-content {
    padding: 0 13.7vw;
  }

  .hero-heading {
    font-size: 2.5vw;
  }
}
